<div class="edit-course-form">
  <!-- Dialog title -->
  <h2 mat-dialog-title>Neue Kategorie erstellen</h2>

  <!-- Dialog content with form -->
  <mat-dialog-content [formGroup]="form">
    <!-- Text input for category name -->
    <mat-form-field appearance="outline">
      <input matInput placeholder="Kategorie Name" formControlName="name" />
    </mat-form-field>

    <!-- Select field for adding users -->
    <mat-form-field appearance="outline" class="select-field">
      <mat-label>Benutzer hinzufügen</mat-label>
      <mat-select formControlName="user" multiple>
        @for (user of userList; track user) {
          <mat-option [value]="user">{{ user }}</mat-option>
        }
      </mat-select>
    </mat-form-field>
  </mat-dialog-content>

  <!-- Dialog actions -->
  <mat-dialog-actions class="justify-content-center">
    <!-- Button to close the dialog -->
    <button mat-raised-button color="accent" (click)="close()">Schließen</button>
    <!-- Button to save changes -->
    <button mat-raised-button color="primary" (click)="save()">Speichern</button>
  </mat-dialog-actions>
</div>
