<div class="edit-course-form">
  <h2 mat-dialog-title>Neue Kategorie erstellen</h2>

  <mat-dialog-content [formGroup]="form">
    <mat-form-field>
      <input matInput placeholder="Kategorie Name" formControlName="name" />
    </mat-form-field>

    <mat-form-field>
      <mat-form-field>
        <mat-label>Benutzer hinzufügen</mat-label>
        <mat-select formControlName="user" multiple>
          @for (user of userList; track user) {
            <mat-option [value]="user">{{ user }}</mat-option>
          }
        </mat-select>
      </mat-form-field>
    </mat-form-field>
  </mat-dialog-content>

  <mat-dialog-actions class="justify-content-center">
    <button mat-raised-button color="accent" (click)="close()">Schließen</button>
    <button mat-raised-button color="primary" (click)="save()">Speichern</button>
  </mat-dialog-actions>
</div>
