<div class="edit-course-form">
  <!-- Dialog title -->
  <h2 mat-dialog-title>{{ dialogTitle }}</h2>

  <!-- Dialog content with form -->
  <mat-dialog-content [formGroup]="form">
    <!-- Text input for document name -->
    <mat-form-field appearance="outline">
      <input matInput placeholder="Document Name" formControlName="name" />
    </mat-form-field>

    <!-- Text input for document version -->
    <mat-form-field appearance="outline">
      <input matInput placeholder="Document Version" formControlName="version" />
    </mat-form-field>

    <!-- Text input for document path -->
    <mat-form-field appearance="outline">
      <input matInput placeholder="Document Path" formControlName="filePath" />
    </mat-form-field>

    <!-- Select field for categories -->
    <mat-form-field appearance="outline" class="select-field">
      <mat-label>Categories</mat-label>
      <mat-select formControlName="categories" multiple>
        @for (category of categories$ | async; track category) {
          <mat-option [value]="category.id">{{ category.name }}</mat-option>
        }
      </mat-select>
    </mat-form-field>
  </mat-dialog-content>

  <!-- Dialog actions -->
  <mat-dialog-actions class="justify-content-center">
    <!-- Button to close the dialog -->
    <button mat-raised-button color="accent" (click)="close()">Close</button>
    <!-- Button to save changes -->
    <button mat-raised-button color="primary" (click)="save()">Save</button>
  </mat-dialog-actions>
</div>
