<!-- Container to utilize data once data$ has been fetched -->
<ng-container *ngIf="data$ | async as data">
  <div class="container-fluid">
    <!-- Title -->
    <h1 class="text-center mobile-title">{{ title }}</h1>

    <!-- Button area for category-->
    <div class="d-flex justify-content-center mobile-without-title mb-4">
      <!-- Button for creating a new category -->
      <app-fab-button
        icon="add"
        tooltip="Neue Kategorie erstellen"
        [disabled]="checkIsLoadingIsSubmitting()"
        (OnClick)="createNewCategory()"></app-fab-button>
    </div>

    <!-- Progress bar: displayed while data is being fetched -->
    <mat-progress-bar mode="indeterminate" *ngIf="checkIsLoadingIsSubmitting()" color="accent"></mat-progress-bar>

    <!-- Table for category data -->
    <div class="mat-elevation-z10 mb-2">
      <!-- Desktop Table Layout-->
      <div class="desktop-table scrolling-container">
        <table
          mat-table
          class="default-table-design"
          [dataSource]="data.category"
          matSort
          (matSortChange)="changeSort($event)">
          <!-- Column header for edit Category -->
          <ng-container matColumnDef="edit">
            <th mat-header-cell *matHeaderCellDef>Edit</th>
            <td mat-cell *matCellDef="let category" (click)="$event.stopPropagation()">
              <button
                mat-icon-button
                color="primary"
                [disabled]="checkIsLoadingIsSubmitting()"
                (click)="editCategoryUsers(category)">
                <mat-icon>edit</mat-icon>
              </button>
            </td>
          </ng-container>

          <!-- Column header for ID -->
          <ng-container matColumnDef="id">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>ID</th>
            <td mat-cell *matCellDef="let category">
              {{ category.id }}
            </td>
          </ng-container>

          <!-- Column header for Name -->
          <ng-container matColumnDef="name">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Name</th>
            <td mat-cell *matCellDef="let category">
              {{ category.name }}
            </td>
          </ng-container>

          <!-- Column header for Users -->
          <ng-container matColumnDef="users">
            <th mat-header-cell *matHeaderCellDef>Benutzer</th>
            <td mat-cell *matCellDef="let category">
              @if (category.userNames.length <= maxUsersVisibleDesktop) {
                {{ sortAndJoinCategoryNames(category.userNames, false, 0) }}
              } @else {
                {{ sortAndJoinCategoryNames(category.userNames, true, maxUsersVisibleDesktop) }}
                <div matBadge="{{ category.userNames.length }}" matBadgeOverlap="false"></div>
              }
            </td>
          </ng-container>

          <!-- Row and column definitions -->
          <tr mat-header-row *matHeaderRowDef="displayedColumnsDesktop; sticky: true"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumnsDesktop"></tr>
        </table>
      </div>

      <!-- Mobile Table Layout-->
      <div class="mobile-table scrolling-container">
        <table
          mat-table
          class="default-table-design"
          [dataSource]="data.category"
          matSort
          (matSortChange)="changeSort($event)"
          multiTemplateDataRows>
          <!-- Column header for edit category -->
          <ng-container matColumnDef="edit">
            <th mat-header-cell *matHeaderCellDef>Edit</th>
            <td mat-cell *matCellDef="let category" (click)="$event.stopPropagation()">
              <button
                mat-icon-button
                color="primary"
                [disabled]="checkIsLoadingIsSubmitting()"
                (click)="editCategoryUsers(category)">
                <mat-icon>edit</mat-icon>
              </button>
            </td>
          </ng-container>

          <!-- Column header for ID -->
          <ng-container matColumnDef="id">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>ID</th>
            <td mat-cell *matCellDef="let category">
              <mat-icon class="table-icon-hint" *ngIf="expandedCategory === null"> keyboard_arrow_down </mat-icon>
              <mat-icon class="table-icon-hint" *ngIf="expandedCategory !== null"> keyboard_arrow_up </mat-icon>
              {{ category.id }}
            </td>
          </ng-container>

          <!-- Column header for Name -->
          <ng-container matColumnDef="name">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Name</th>
            <td mat-cell *matCellDef="let category">
              {{ category.name }}
            </td>
          </ng-container>

          <!-- Expanded row column for user details -->
          <ng-container matColumnDef="expandedDetail">
            <td mat-cell *matCellDef="let category" colspan="3" class="expandable-row">
              @if (category.userNames.length <= maxUsersVisibleDesktop) {
                {{ sortAndJoinCategoryNames(category.userNames, false, 0) }}
              } @else {
                {{ sortAndJoinCategoryNames(category.userNames, true, maxUsersVisibleMobile) }}
                <div matBadge="{{ category.userNames.length }}" matBadgeOverlap="false"></div>
              }
            </td>
          </ng-container>

          <!-- Row and column definitions -->
          <tr mat-header-row *matHeaderRowDef="displayedColumnsMobile; sticky: true"></tr>
          <tr
            mat-row
            *matRowDef="let row; columns: displayedColumnsMobile"
            (click)="onToggleExpandedCategoryRow(row)"></tr>
          <!-- Row definition for expandedDetail -->
          <tr
            mat-row
            *matRowDef="let row; columns: ['expandedDetail']"
            [class.collapsed-detail]="row !== expandedCategory">
            >
          </tr>
        </table>
      </div>

      <!-- Paginator -->
      <mat-paginator
        class="default-paginator-design"
        [length]="data.totalElements"
        [pageSize]="pagination.pageSize"
        [pageSizeOptions]="data.pageSizeOptions"
        [pageIndex]="pagination.pageNumber"
        (page)="handlePageEvent($event)"
        [showFirstLastButtons]="true"
        aria-label="Select page of documents">
      </mat-paginator>
    </div>
  </div>
</ng-container>
