.menu-item {
  padding: 0 1rem;
  text-transform: uppercase;
  cursor: pointer;
}

.desktop-nav {
  display: flex;
  justify-content: center;
  align-items: center;
}

.mobile-nav {
  display: none;
}

.toolbar-tools {
  display: flex;
  justify-content: right;
  flex-grow: 0.95;
}

.mobile-toolbar-tools {
  display: flex;
  justify-content: space-around;
  flex-grow: 0.3;
}

.desktop-footer {
  text-align: center;
}

.nav-bar-logo {
  height: 70%;
  flex: 1;
  background-image: url('/assets/img/logo.png');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: left;
}

.logo-item {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
}

.side-nav-logo {
  height: 100px;
  width: 100%;
  background-image: url('/assets/img/logo.png');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.center-flex {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.icon-with-text {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.button-description {
  font-size: 0.7rem;
}

.footer {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 30px;
  width: 100%;
  position: absolute;
  bottom: 0;
  border-radius: 0 !important;
}

@media (max-width: 992px) {
  .desktop-nav {
    display: none;
  }

  .mobile-nav {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .desktop-footer {
    display: none;
  }
}
