.custom-message {
  white-space: pre-wrap;
  padding: 0 10px;
}

.empty {
  width: 100% !important;
  height: 10px !important;
  background-color: transparent !important;
}

.custom-icon {
  margin-right: 5px;
  padding-right: 5px;
  font-size: 1.5rem;
}

.success-icon {
  color: limegreen;
}

.error-icon {
  color: red;
}
