<!-- Container to utilize data once data$ has been fetched -->
<ng-container *ngIf="data$ | async as data">
  <div class="container-fluid">
    <mat-card>
      <form [formGroup]="loginForm" (ngSubmit)="onSubmit()" class="form-sign-in">
        <!-- Title -->
        <h1>{{ title }}</h1>

        <!-- Displays backend error messages if available -->
        <app-backend-error-messages *ngIf="data.backendErrors" [backendErrors]="data.backendErrors">
        </app-backend-error-messages>

        <!-- Text input for user email -->
        <div class="form-group">
          <mat-form-field appearance="outline" hideRequiredMarker="true">
            <mat-label>Email</mat-label>
            <input matInput type="email" formControlName="email" />
            <mat-icon matSuffix class="large-icon">email</mat-icon>
            @if (loginForm.controls['email'].hasError('required')) {
              <mat-error>Email ist <strong>erforderlich</strong></mat-error>
            }
          </mat-form-field>
        </div>

        <!-- Text input for user password -->
        <div class="form-group">
          <mat-form-field appearance="outline" hideRequiredMarker="true">
            <mat-label>Passwort</mat-label>
            <input matInput [type]="passwordFieldType" formControlName="password" />
            <button mat-icon-button matSuffix (click)="togglePasswordVisibility()" type="button">
              <mat-icon>{{ passwordFieldType === 'password' ? 'visibility' : 'visibility_off' }}</mat-icon>
            </button>
            <mat-error *ngIf="loginForm.controls['password'].hasError('required')">
              Passwort ist <strong>erforderlich</strong>
            </mat-error>
          </mat-form-field>
        </div>

        <!-- Checkbox to remain signed in  -->
        <div class="form-group">
          <mat-checkbox color="primary">Angemeldet bleiben</mat-checkbox>
        </div>

        <!-- Login-Button  -->
        <button mat-raised-button color="primary" class="sign-in-button" type="submit" [disabled]="!loginForm.valid">
          Login
        </button>
      </form>
    </mat-card>
  </div>
</ng-container>
