<mat-tab-group (selectedIndexChange)="selectedTabIndex.set($event)">
  <mat-tab>
    <ng-template mat-tab-label>
      <mat-icon matTooltip="Benutzerrollen" matTooltipPosition="above" [matTooltipShowDelay]="300">
        account_circle
      </mat-icon>
    </ng-template>

    @defer (when selectedTabIndex() === 0) {
      <app-user-role-management></app-user-role-management>
    }
  </mat-tab>
  <mat-tab>
    <ng-template mat-tab-label>
      <mat-icon matTooltip="Benutzergruppen" matTooltipPosition="above" [matTooltipShowDelay]="300"> group </mat-icon>
    </ng-template>
    @defer (when selectedTabIndex() === 1) {
      <app-user-group-management></app-user-group-management>
    }
  </mat-tab>
</mat-tab-group>
