<ng-container *ngIf="data$ | async as data">
  <div class="container">
    <!-- Title -->
    <h1 class="text-center mobile-title">{{ title }}</h1>

    <!-- Progress bar: displayed while data is being fetched -->
    <mat-progress-bar mode="indeterminate" *ngIf="data.isLoading" color="accent"></mat-progress-bar>

    <!-- Table for category data -->
    <div class="mat-elevation-z10 mb-2">
      <div class="scrolling-container">
        <table
          mat-table
          class="default-table-design"
          [dataSource]="data.users"
          matSort
          matSortActive="id"
          matSortDirection="asc"
          multiTemplateDataRows>
          <!-- Column header for ID -->
          <ng-container matColumnDef="id" sticky>
            <th mat-header-cell *matHeaderCellDef>ID</th>
            <td mat-cell *matCellDef="let user">
              <mat-icon class="table-icon-hint"> expand_more </mat-icon>
              {{ user.id }}
            </td>
          </ng-container>

          <!-- Column header for Name -->
          <ng-container matColumnDef="name">
            <th mat-header-cell *matHeaderCellDef>Name</th>
            <td mat-cell *matCellDef="let user">
              {{ user.username }}
            </td>
          </ng-container>

          <!-- Column header for role -->
          <ng-container matColumnDef="role">
            <th mat-header-cell *matHeaderCellDef>Admin</th>
            <td mat-cell *matCellDef="let user" (click)="$event.stopPropagation()">
              <mat-slide-toggle
                color="primary"
                [ngModel]="user.isAdmin"
                (click)="changeUserRole(user.id, user.isAdmin)"></mat-slide-toggle>
            </td>
          </ng-container>

          <!-- Expanded row column for user details -->
          <ng-container matColumnDef="expandedDetail">
            <td mat-cell *matCellDef="let user" colspan="3" class="px-0"><strong>Email: </strong>{{ user.email }}</td>
          </ng-container>

          <!-- Header row definition -->
          <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>

          <!-- Row definition -->
          <tr mat-row *matRowDef="let row; columns: displayedColumns" (click)="onToggleExpandedUserRow(row)"></tr>

          <!-- Row definition for expandedDetail -->
          <tr
            mat-row
            *matRowDef="let row; columns: ['expandedDetail']"
            [class.collapsed-detail]="row !== expandedUser"></tr>
        </table>
      </div>

      <!-- Paginator -->
      <mat-paginator
        class="default-paginator-design"
        [length]="data.totalElements"
        [pageSize]="paginationConfigService.getPageSize()"
        [pageSizeOptions]="paginationConfigService.getPageSizeOptions()"
        (page)="handlePageEvent($event)"
        [showFirstLastButtons]="true"
        aria-label="Select page of users">
      </mat-paginator>
    </div>
  </div>
</ng-container>
