@mixin table-design {
  .default-table-design {
    tr.mat-mdc-row:hover {
      background-color: map-get($mat-accent, 400) !important;
      cursor: pointer;
    }

    .mat-mdc-header-row {
      background-color: map-get($mat-primary, 500) !important;
    }

    .mat-mdc-header-cell,
    .mat-mdc-cell {
      text-align: center;
    }

    .mat-sort-header-container {
      display: flex;
      justify-content: center;
      padding-left: 1.2rem;
    }
  }
}

@mixin pagination-design {
  .default-paginator-design {
    .mat-mdc-paginator-container {
      border-top: 1px solid gray !important;
    }

    .mat-mdc-text-field-wrapper {
      width: 100px !important;
    }
  }
}

@mixin scrolling-container {
  overflow-y: auto;
  max-height: 50vh;

  @media (max-width: 576px) {
    overflow-x: auto;
  }
}

@mixin mobile-responsive-title {
  .mobile-title {
    margin-top: 2rem !important;
  }

  .mobile-without-title {
    margin-top: 2rem;
  }

  @media (max-width: 576px) {
    .mobile-without-title {
      margin-top: 0.8rem;
    }

    .mobile-title {
      margin-top: 0.8rem !important;
      font-size: 1.2rem;
    }
  }

  @media (max-height: 576px) {
    .mobile-without-title {
      margin-top: 0.8rem;
    }

    .mobile-title {
      display: none;
    }
  }
}

@mixin responsive-dialogs {
  @media screen and (max-width: 576px) {
    .modal-panel {
      min-width: 0 !important;
      max-width: 100% !important;
      max-height: 100% !important;
      width: 100% !important;
      height: 100% !important;

      .mat-dialog-container {
        border-radius: 0;
        padding: 14px !important;
      }
    }
  }
}
