/* You can add global styles to this file, and also import other style files */

@use '@angular/material' as mat;

$dark-primary-text: rgba(black, 0.87);
$light-primary-text: white;

$mat-primary: (
  50: #fff3e0,
  100: #ffe0b2,
  200: #ffcc80,
  300: #ffb74d,
  400: #ffa726,
  500: #e48e48,
  600: #ff9100,
  700: #ff6d00,
  800: #ff5700,
  900: #e65100,
  A100: #ffd180,
  A200: #ffab40,
  A400: #ff9100,
  A700: #ff6d00,
  contrast: (
    50: $dark-primary-text,
    100: $dark-primary-text,
    200: $dark-primary-text,
    300: $dark-primary-text,
    400: $dark-primary-text,
    500: $light-primary-text,
    600: $light-primary-text,
    700: $light-primary-text,
    800: $light-primary-text,
    900: $light-primary-text,
    A100: $dark-primary-text,
    A200: $dark-primary-text,
    A400: $light-primary-text,
    A700: $light-primary-text,
  ),
);

$mat-accent: (
  50: #e0e0e0,
  // Lightest gray
  100: #cccccc,
  // Very light gray
  200: #b3b3b3,
  // Lighter gray
  300: #999999,
  // Light gray
  400: #808080,
  // Medium-light gray
  500: #5c5c5c,
  // Your chosen mid-tone gray
  600: #4d4d4d,
  // Medium-dark gray
  700: #404040,
  // Darker gray
  800: #333333,
  // Dark gray
  900: #262626,
  // Darkest gray
  A100: #d9d9d9,
  // Light gray alternative
  A200: #737373,
  // Medium gray alternative
  A400: #5c5c5c,
  // Medium-dark gray alternative
  A700: #595959,
  // Dark gray alternative
  contrast:
    (
      50: $dark-primary-text,
      100: $dark-primary-text,
      200: $dark-primary-text,
      300: $dark-primary-text,
      400: $dark-primary-text,
      500: $light-primary-text,
      600: $light-primary-text,
      700: $light-primary-text,
      800: $light-primary-text,
      900: $light-primary-text,
      A100: $dark-primary-text,
      A200: $light-primary-text,
      A400: $light-primary-text,
      A700: $light-primary-text,
    ),
);

// danger-palette is per default red

$primary: mat.define-palette($mat-primary, 500);

$accent: mat.define-palette($mat-accent, A200, A100, A400);

$theme: mat.define-dark-theme(
  (
    color: (
      primary: $primary,
      accent: $accent,
    ),
    typography: mat.define-typography-config(),
    density: 0,
  )
);

@include mat.all-component-themes($theme);

html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, 'Helvetica Neue', sans-serif;
}

@import './mixins';

@include table-design();
@include pagination-design();
@include responsive-dialogs();
@include mobile-responsive-title;
@include responsive-page-container();

.toolbar-button {
  height: auto !important;
  width: 100px !important;
  padding: 0.5rem 1rem !important;
  margin: 0 0.5rem !important;
}

.mat-toolbar-single-row {
  height: auto !important;
  padding: 0.2rem !important;
}

.mat-toolbar {
  background-color: map-get($mat-accent, 700) !important;
}

.menu-item-active {
  text-decoration: underline;
  background-color: map-get($mat-accent, 600) !important;
}

// changes the size of the mat-button touch-field
.mat-mdc-button .mat-mdc-button-touch-target {
  max-height: 100% !important;
}

.mdc-button {
  &.mat-mdc-button,
  &.mat-mdc-raised-button {
    border-radius: 2rem !important;
  }
}

// ******* expandable table design ********

// changes the color of the expandable row within all tables
.expandable-row {
  background-color: map-get($mat-accent, 900) !important;
}

.collapsed-detail {
  display: none;
}

// ******* form field styles ********
.mdc-text-field {
  --mdc-outlined-text-field-container-shape: 1.8rem !important;
}

mat-form-field {
  width: 100%;
}

.select-field {
  height: 150px;
  max-height: 500px;
}

.mat-mdc-select-value-text {
  white-space: normal !important;
}

// form field bottom space/element
.mat-mdc-form-field-subscript-wrapper,
.mat-mdc-form-field-bottom-align::before {
  height: 0.5rem !important;
}

// form field bottom space/element within the user-table
.without-bottom-space .mat-mdc-form-field-subscript-wrapper,
.without-bottom-space .mat-mdc-form-field-bottom-align::before {
  height: 0 !important;
}

// ******* custom select styles for select-field in the user-table********
.custom-select-groups .mat-mdc-select-value-text {
  white-space: nowrap !important;
}

.custom-select-groups .mdc-text-field--outlined .mat-mdc-form-field-infix,
.mdc-text-field--no-label .mat-mdc-form-field-infix {
  padding-top: 10px !important;
  padding-bottom: 10px !important;
}

.custom-select-groups .mat-mdc-form-field-infix {
  min-height: auto !important;
  padding-top: 0 !important;
  padding-bottom: 0 !important;
}

// ******* custom table designs ********

.table-icon-hint {
  height: 15px !important;
  width: 15px !important;
  font-size: 15px !important;
  line-height: inherit !important;
}

.mat-column-id {
  border-right: 1px solid black;
  width: 70px;
}

.mat-badge.mat-badge {
  display: inline-block;
  margin-bottom: 6px;
}

.mobile-table {
  display: none;
}

@media (max-width: 768px) {
  .mobile-table {
    display: block;
  }

  .desktop-table {
    display: none;
  }
}



// ******** custom snackbar styles for the notifications ********

//  changing the background color of the snackbar notifications
.mat-mdc-snack-bar-container .mdc-snackbar__surface {
  background-color: transparent !important;
  box-shadow: none !important;
}

.mdc-snackbar__label {
  padding: 0 1rem !important;
}

.custom-message-box {
  background-color: map-get($mat-accent, 900) !important;
  color: $light-primary-text !important;
  padding: 0.1rem 1rem;
  border-radius: 0.5rem;
  box-shadow: 1px 1px 5px 0 rgba(0, 0, 0, 0.75);
}

.custom-snackbar {
  position: fixed !important;
  bottom: 35px !important;
  right: 0 !important;
  left: auto !important;
  padding-bottom: 0 !important;
}


