/* You can add global styles to this file, and also import other style files */

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, 'Helvetica Neue', sans-serif;
}

.toolbar-button {
  height: auto !important;
  width: 100px !important;
  padding: 0.5rem 1rem !important;
}

.mat-toolbar-single-row {
  height: auto !important;
  padding: 0.2rem !important;
}

.menu-item-active {
  text-decoration: underline;
}

.custom-snackbar {
  white-space: pre-line;
  text-align: center;
}
