.mat-column-id {
  border-right: 1px solid black;
}

.mat-column-id,
.mat-column-select {
  width: 70px !important;
}

.collapsed-detail {
  display: none;
}

@import '../../../../styles';

.inner-table {
  background-color: map-get($mat-primary, 100) !important;
}
