<!-- Container to utilize data once data$ has been fetched -->
<ng-container *ngIf="data$ | async as data">
  <div class="container">
    <!-- Title -->
    <h1 class="text-center mobile-title">{{ title }}</h1>

    <mat-selection-list
      #documents
      [(ngModel)]="selectedDocuments"
      class="mat-selection-list-container mat-elevation-z10"
      [hideSingleSelectionIndicator]="true">
      <!-- Progress bar: displayed while data is being fetched -->
      <mat-progress-bar mode="indeterminate" *ngIf="data.isLoading" color="primary"></mat-progress-bar>

      @for (document of data.documents; track document) {
        <mat-list-option [value]="document" [disabled]="!clickedDocuments[document.id]" color="primary">
          <button (click)="handleClick(document.id, $event)" class="link-button">
            <span class="border-bottom">{{ document.documentName }}</span>
          </button>
        </mat-list-option>
        <mat-divider></mat-divider>
      }
    </mat-selection-list>

    <p class="text-center my-4">Dokumente bestätigt: {{ documents.selectedOptions.selected.length }}</p>

    <!-- Buttons for actions -->
    <div class="d-flex justify-content-center my-3">
      <button
        mat-raised-button
        color="primary"
        [disabled]="documents.selectedOptions.selected.length < data.documents.length || data.isLoading"
        (click)="redirectToDocumentOverview()">
        Weiter
      </button>
    </div>

    <div class="d-flex flex-column justify-content-center align-items-center text-area">
      <p class="text-center">
        Erst wenn alle Dokumente gelesen und akzeptiert wurden, können Sie auf 'Weiter' klicken.
      </p>
    </div>
  </div>
</ng-container>
